
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

/* TYPOGRAPHY */

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--dark-grayish-red);
}

.special-text,
p {
    color: var(--desaturated-red);
}

.special-text {
    font-weight: 300;
}

p {
    text-align: center;
    line-height: 1.6em;
    font-size: 0.9rem;
}

::placeholder {
    color: var(--desaturated-red);
    opacity: 0.6;
}

.submit-email {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.logo {
    margin-top: 1.8em;
    margin-left: 1.5em;
    margin-bottom: 1.8em;
    width: 120px;
}

.hero-image {
    min-width: 100%;
    height: auto;
    display: block;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

p,
.email-form {
    width: 80%;
    margin: 0 auto;
}

p {
    margin-top: 2em;
}

.email-form {
    position: relative;
}

input {
    display: block;
    margin-top: 3em;
    border: 1px solid var(--desaturated-red);
    padding: 1.5em 2em;
    border-radius: 50px;
    width: 100%;
}

input:focus {
    outline: none;
}

.submit-email {
    display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    border-radius: 50px;
    width: 25%;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 10px 15px 5px rgba(238, 140, 140, 0.4);
}

footer {
    margin-top: auto;
    margin-bottom: 1em;
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
    body {
        background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }

    main {
        width: 30%;
        margin-top: 2em;
        padding-left: 0;
    }

    main, footer {
        margin-left: 12%;
    }

    .logo {
        display: inline;
        margin-left: 0;
    }

    h1,
    p {
        text-align: left;
    }

    h1 {
        font-size: 4rem;
        margin-top: 1.5em;
    }

    p {
        font-size: 1rem;
        margin-top: 2em;
    }

    .email-form {
        margin-top: 1em;
    }

    p,
    .email-form {
        width: 100%;
    }

    .hero-image {
        min-width: 300px;
        width: 40%;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        /* position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100vh; */
    }

    footer {
        align-self: flex-start;
    }

    /*.hero-image {
    min-width: 100%;
    height: auto;
    display: block;
}*/
}

